body {
  /*setting the font and typography*/
  /*
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  */
  font: 16px/1.5 Arial, Helvetica, sans-serif; /* integrates all the fonts rules into one */
  margin: 0;
  padding: 0;
  background-color: #e8f0f7;
}

/* Global rules */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.brand_highlight {
  color: #1d7cdb;
}

a:hover {
  color: #1d7cdb;
  font-weight: bolder;
}

a:active {
  color: #ff3e04;
}

.button_1 {
  height: 25px;
  border: none;
  padding: 0 15px 0 15px;
  background-color: #1d7cdb;
  color: #e8f0f7;
  cursor: pointer;
}

.button_1:hover {
  color: #0b0f36;
  font-weight: bold;
}

.button_1:active {
  background-color: #e8f0f7;
}

/* Header */
header {
  background-color: #0b0f36;
  color: #e8f0f7;
  border-bottom: 4px #1d7cdb solid;
  padding-top: 20px;
  min-height: 70px;
}

header h1 a {
  text-decoration: none;
  color: #e8f0f7;
}

header li a {
  text-decoration: none;
  font-size: 18px;
  color: #e8f0f7;
}

header ul li {
  display: inline;
  padding: 0 20px 0 20px;
}

#branding {
  float: left;
}

#branding h1 {
  margin: 0;
}

nav {
  float: right;
  margin-top: 15px;
}

/* Showcase*/
#showcase {
  min-height: 400px;
  background: url(../img/router.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  color: #e8f0f7;
}

#showcase h1 {
  margin: 120px 0 5px 0;
  font-size: 50px;
  font-weight: bold;
}

#showcase p {
  font-size: 22px;
}

/* newsletter */
#newsletter {
  background-color: #0b0f36;
  color: #e8f0f7;
  padding: 15px;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 25px;
}

input[type="email"] {
  width: 250px;
  height: 20px;
}
